*{
  letter-spacing: normal;
}
button:hover{
  cursor: pointer;
}


p.indicator{
  padding: 5px 10px;
}

div.alerts-containe, div.logs-container, div.details-panel{
  background-color: #1f1f1f;
}

div.dimming-alert{
  animation: dimming 2.5s infinite ease-in-out;
}

@keyframes dimming {
  0% {
    background-color: rgb(239 68 68 / 0);
  }
  25% {
    background-color: rgb(239 68 68 / 0.33);
  }
  50% {
    background-color: rgb(239 68 68 / 0.67);
  }
  75% {
    background-color: rgb(239 68 68);
  }
}
div.logs-search input, div.logs-search select{
  border-width: 1px;
  outline: none;
  transition: border 0.3s ease;
}
div.logs-search input:focus{
  border: 2px solid rgb(59 130 246);
  box-shadow: 0 0 10px rgba(59, 130, 246);
} 

div.logs-search select:focus{
  border: 2px solid rgb(59 130 246);
  box-shadow: 0 0 10px rgba(59, 130, 246);
}

img.verify{
  animation: live 2.5s infinite ease-in-out;
}

@keyframes live {
  0% {
    box-shadow: 0 -4px 20px rgba(255, 255, 255, 0.0);
  }
  25% {
    box-shadow: 0 -3px 20px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 -2px 20px rgba(255, 255, 255, 1);
  }
  75% {
    box-shadow: 0 -1px 20px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 -4px 20px rgba(255, 255, 255, 0.0);
  }
  
}
button.clear-all-alerts{
  transition: 0.2s ease-in-out;
}

button.clear-all-alerts:hover {
  background-color: #be6767;
}